.container-register {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    height: 100vh;
}

.register-board {
    border: 1px solid black;
    padding: 3rem;
}